Repository tc39/ecma402, pull requests merged in 2022-01, with the labels that each got.

#594 Editorial: Define a structured signature for PluralRuleSelect
  spec/datetimeformat.html
  spec/pluralrules.html
Labels: editorial

#571 Normative: Add hourCycle to opt before passing to FormatMatcher
  spec/datetimeformat.html
Labels: normative

#637 meta: add ryzokuken to editors
  spec/metablock.html
Labels: meta

#638 meta: update links for communications
  spec/metablock.html
Labels: meta

#622 Normative: add intl-displaynames-v2
  spec/displaynames.html
Labels: normative

#553 Normative: Add Intl.Segmenter
  spec/annexes.html
  spec/biblio.json
  spec/conventions.html
  spec/index.html
  spec/intl.html
  spec/introduction.html
  spec/normative-references.html
  spec/overview.html
  spec/segmenter.html
Labels: stage 4, normative
